.App {
  font-family: sans-serif;
  text-align: center;
}

li {
  display: inline;
  padding: 1rem;
}

/* li:nth-child(even) {
  background-color: turquoise;
}

li:nth-child(odd) {
  background-color: yellowgreen;
  font-size: ;
} */